[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Categories=Network;
Icon=harbour-syncthing
Exec=harbour-syncthing
Name=Syncthing
Comment=Continuous Replication Synchronization Thing

[X-Sailjail]
Permissions=Internet
OrganizationName=dev.scarpino
ApplicationName=harbour-syncthing
